<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="end">
    <ion-button (click)="createTodo()">
        <ion-icon name="add-circle" slot="start"></ion-icon>  
    </ion-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="primary" padding>
    <!--<ion-card>
      <ion-card-header>
        <ion-card-title>Todo app v1.0</ion-card-title>
        <ion-card-subtitle style="color: #000;">Easily manage your todos!</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
      </ion-card-content>
    </ion-card>-->

    <ion-list style="background: var(--ion-color-primary);">
        
      <ion-item color="primary" *ngFor="let todo of todos">
          <ion-icon [name]="isCompleted(todo)" slot="start">

          </ion-icon>
          
          {{todo.title}}
          
          <div slot="end">
            {{todo.note}}
          </div>
        </ion-item>
      </ion-list>
</ion-content>
